<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Home</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Rich Dad Poor Dad</h1>
    <img src="/static/images/cover.jpg" alt="Book Cover" class="cover-image">
    <nav>
      <ul>
        <li><a href="/metadata/">Metadata</a></li>
        <li><a href="/reviews/">Reviews</a></li>
        <li><a href="/publisher/">Publisher Info</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>
