<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Metadata</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="container">
    <header>
      <a href="/">Home</a>
    </header>
    <h1>Metadata</h1>
    <p><strong>Title:</strong> Rich Dad Poor Dad</p>
    <p><strong>Author:</strong> Robert Kiyosaki</p>
    <p><strong>ISBN:</strong> 	0-446-67745-0</p>
    <p><strong>Published:</strong> 1997</p>
    <footer>
      <a href="/">Back to Home</a>
    </footer>
  </div>
</body>
</html>
