td {
    border: 2px solid white;
}
header{
    color: rgb(42, 165, 155);
}
footer{
    font-style: italic;
    color: aqua;
}
body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 149);
}
ol {
    list-style: lower-roman;
}
ul {
    list-style-type: square;
}